.back {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("/_asset/static/banner2.jpg");
  background-size: cover;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25%;
}

.next_btn {
  width: 20vw;
  margin-top: 10px;
}

.next_btn a button {
  width: 60%;
  padding: 10px 4px;
  font-size: 20px;
  border: #003a86;
  border-radius: 10px;
  background: #003a86b0;
  cursor: pointer;
}

.next-btn button {
  color: #ffffff;
}

.left {
  width: 40vw;
  height: 10%;
}

.left h1 {
  color: #003a86;
  font-size: 40px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 8px;
  padding: 10px;
  width: 200%;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  background: transparent;
}

.option {
  height: 30vh;
  width: 20vw;
  /*background: url(Assets/off_white___4k_minimalist_wallpaper_by_abdelrahman_dd77r44.jpg)*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 20px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-family: cursive;
}

.option a {
  text-decoration: none;
  color: #003a86;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 8px;
  padding: 10px;
  font-size: 25px;
}
.option_a {
  background-image: url("/_asset/static/music.jfif");
}
.option_b {
  background-image: url("/_asset/static/sports.png");
}
.option_c {
  background-image: url("/_asset/static/history.png");
}
.option_d {
  background-image: url("/_asset/static/world.png");
}
.option_e {
  background-image: url("/_asset/static/literature.png");
}
.option_f {
  background-image: url("/_asset/static/mythology.png");
}
.option_g {
  background-image: url("/_asset/static/defence.png");
}
.option_h {
  background-image: url("/_asset/static/astronomy.png");
}

.option a:hover {
  font-size: 40px;
  transition: 0.5s;
}

.option:hover {
  transition: 1s;
  height: 22vh;
  width: 23vw;
  color: rgb(0, 34, 187);
  text-shadow: #ffffff;
}

.next_btn button:hover {
  background: #ffffff9c;
  transition: 0.5s;
  padding: 4%;
}
