/*------------Questions------------------*/

.oyo {
  font-size: 2.5rem;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #ffffff;
  color: #003a86;
  padding: 1%;
}
.oyo_qns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: url("/_asset/static/banner.jpg");
  background-size: cover;
}

.qns {
  background-color: #ffffff;
  width: 50%;
  height: 60px;
  border-radius: 10px;
  background: #44444471;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.qns h3 {
  color: #fff;
  background: #4444447e;
  padding: 1% 3%;
  border-radius: 10px;
  font-weight: bolder;
}
.qns a {
  padding: 1%;
  background: #003a86;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
}
.qns button {
  padding: 1%;
  color: #fff;
  background: none;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.qns a:hover {
  transition: 0.5s;
  padding: 1.2%;
  background-color: #4444447e;
}
